.dockedEbikeRouteOption h1 {
  font-size: 1.2rem;
  font-weight: bold;
}

.dockedEbikeRouteOption header {
  margin-bottom: 0.5rem;
}

.dockedEbikeRouteOption .dockingStationSelectorWrapper {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.dockedEbikeRouteOption .dockingStationSelectorWrapper > div {
  flex: 1;
}

.dockedEbikeRouteOption strong {
  font-weight: bold;
}

.dockedEbikeRouteOption .label {
  font-size: 0.95rem;
}

.dockedEbikeRouteOption .travelTimeBreakDownLabelContainer {
  font-size: 0.9rem;
  padding-top: 0.15rem;
}
